* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #010615;
}
.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    margin: 100px;
}
.container .box .imgBox {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s ease-in-out;
}
.container .box:hover .imgBox {
    transform: translate(-35px, -35px);
}
.container .box .imgBox img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content {
    transform: translate(35px, 35px);
}
.container .box .content h2 {
    font-size: 20px;
    color: #111;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
}
.container .box .content h2 span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .container .box:hover .imgBox {
        transform: translate(0px, -35px);
    }
    .container .box:hover .content {
        transform: translate(0px, 35px);
    }
}

